@{
    ViewData["Title"] = "Home Page";   
}

@model IEnumerable<mvc_app_ef.Models.Student>

<div class="container">

    <div class="text-center">
        <div class="row">
            <div class="col-md-12">

                <h1 class="display-4">Welcome</h1>
                <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Firstmidname)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Lastname)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Enrollmentdate)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(Student student in @Model)
                        {        
                            <tr>
                                <th scope="row">@student.Id</th>
                                <td>@student.Firstmidname</td>
                                <td>@student.Lastname</td>
                                <td>@student.Enrollmentdate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
